html, body {
  margin: 0;
  padding: 0;
  background-color: #FFF
}
canvas {
  display: block;
  background-color: #D3D3D3;
}

#count {
  font-size: 50pt;
  margin: 0 0 0 10px;
}

#btn {
  margin: 10px 0 0 10px;
  width: 75px;
  height: 30px;
}

#m1 {
  color: blue;
  margin-left: 10px;
  font-size: 16pt;
}

#m2 {
  color: red;
  margin-left: 10px;
  font-size: 16pt;
}